@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);

/* ------ general
-----------------------------------------------*/

html, body {
padding:0;
margin:0;
}

body {
  background: #fff url("../images/bg.jpg") repeat-x top; /*gradient background*/
  font-family: “Lucida Sans Unicode”, sans-serif;
  font-size: 14px;
  color: #516e75;
}

.menu {
position:absolute;
top:50%;
left:10px;
padding-top:40px;
margin-top:-140px;
}

.menu a {
display:block;
text-decoration:none;
font-family:'PT Sans Narrow', sans-serif;
font-size:30px;
position:relative;
height:44px;
width:200px;
color:#eee;
}

.menu a span {
position:absolute;
top:0;
left:0;
-webkit-transition:all .5s ease;
-moz-transition:all .5s ease;
-o-transition:all .5s ease;
-ms-transition:all .5s ease;
transition:all .5s ease;
}

.menu .shadow {
text-shadow: 0 0 4px #fff;
}

.menu .blur {
color:#2b2b2b;
text-shadow:0 0 4px #2b2b2b;
opacity:.6;
}

a {
color:#eee;
}

#main_container {
  background: url("../images/bg2.png") no-repeat center top; /*painted background*/
  margin: auto;
  width: 1000px;
}

.clear:after { /*clear-fix*/
  content: ""; 
  display: block;
  clear: both;
}

#left_container {
  width: 720px;
  float: left;
  margin-right: 30px;
  margin-left: 5px;
  margin-bottom: 30px;/*margin: 0 30px 30px 5px;*/
}

#logo {
  margin: 0px;
  padding: 0px;  
}

.logo_link {
  display: block;
  background: url("../images/header.jpg") no-repeat top left;  
  
  height: 131px;
}

.logo_link:hover {
  background: url("../images/logo_hov.png") no-repeat top left;  
  display: block;  
  width: 691px;
  height: 131px;
}


#featured {
  

  margin: 50px 0px 0px 0px;
  width: 819px;
  height: 426px;
}
