.CSSTableGenerator {
	margin: 0px;
	padding: 0px;
	width: 330px;
	box-shadow: 10px 10px 5px #888888;
	border: 1px solid #ffffff;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
}

.CSSTableGenerator tr:first-child td {
	background: -o-linear-gradient(bottom, #0057af 5%, #0057af 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0057af
		), color-stop(1, #0057af) );
	background: -moz-linear-gradient(center top, #0057af 5%, #0057af 100%);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		"#0057af", endColorstr = "#0057af" );
	background: -o-linear-gradient(top, #0057af, 0057af);
	background-color: #0057af;
	border: 0;
	text-align: justify;
	border-width: 0px 0px 5px 5px;
	font-size: 14px;
	font-family: Arial;
	font-weight: bolder;
	color: #ffffff;
	width: 500px;
}
input.example1 {
	background: white;
	border: 1px solid #DDD;
	border-radius: 5px;
	box-shadow: 0 0 5px #DDD inset;
	color: #666;
	float: left;
	padding: 5px 10px;
	width: 165px;
	outline: none;
}

.btn {
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 15;
	-moz-border-radius: 15;
	border-radius: 15px;
	font-family: Arial;
	color: #ffffff;
	font-size: 18px;
	padding: 2px 9px 3px 9px;
	text-decoration: none;
}

.btn:hover {
	background: #3cb0fd;
	text-decoration: none;
}